body {
  font-family: "Montserrat", sans-serif;
  background-color: #cfe9ee;
}

.weather-app {
  margin: 0 auto;
  margin-top: 4em;
  width: 700px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  border-radius: 24px;
  border: 1px solid #fff;
}

.search-form-input {
  width: 80%;
  height: 52px;
  border: none;
  border-radius: 15px;
  padding-left: 20px;
  margin-bottom: 40px;
  font-weight: bolder;
}
.search-form-button {
  height: 52px;
  width: 15%;
  border: #fff;
  box-shadow: 0 4px 8px 0 rgb(31 38 135 / 25%);
  border-radius: 15px;
  padding: 10px;
  margin-left: 25px;
  font-size: 16px;
}

.weather-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100px;
  padding: 0;
  margin-bottom: 60px;
}

.town-time {
  margin-left: 30px;
  width: 350px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 0;
}
.temperature-main {
  font-size: 60px;
  text-align: center;
}
.weather-icon {
  height: 80px;
}
.date {
  font-size: 18px;
  margin-bottom: 5px;
}
.small {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
  margin: 0 auto;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: #092238;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  height: 50px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: #092238;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
footer {
  font-size: 80%;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  color: #7d8a97;
}
